@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/Site.css" />

<div class="jumbotron">
    <h1>Geraldton District Hospital</h1>
    <p >Geraldton District Hospital is a fully accredited, progressive health care organization committed to providing high quality services to residents of Greenstone (Geraldton, Longlac, Nakina, Beardmore, Caramat) and surrounding First Nations communities.</p>
    <img src="~/Content/content/Screen Shot 2021-04-09 at 2.14.17 PM.png" alt="picture" class="center" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reminder</h2>
        <p>
            You must bring your healthcard and a list of your medications with you when accessing services at the hospital.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Location</h2>
        <p>500 Hogarth Ave.W</p>
        <p>Postal Bag #4</p>
        <p>Geraldton,ON</p>
        <p>POT 1MO</p>
    </div>
    <div class="col-md-4">
        <h2>Donate</h2>
        <p>Make a donation in memory of a loved one, and direct it to Long Term Care,Acute care,Palliative Care, Chemotherapy,Hospice Northwest, or your area of choice.</p>
    </div>
</div>